.home {
    height: 100vh;
    /*background: #121212 url([./back.png]) no-repeat center center/cover;*/
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f0e9ff;
    text-align: left;
    padding: 0 20px;
  }
  
  .home-content h1 {
    font-size: 4.5rem;
    margin-bottom: .5rem;
  }
  
  .home-content p {
    font-size: 1.25rem;
    line-height: 1.5;
  }
  